.text-center {
  text-align: center;
  font-size: 25px;
}

.mx-auto {
  margin: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.m-w-20 {
  max-width: 20rem;
}
